.container-fluid.mt-48
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %h1
            Editace uživatele:
            %strong
              = @subscriber.firstname + ' ' + @subscriber.lastname
        .panel-body
          .col-md-12
            = render 'form'
        .panel-footer
        