#home.home.mt-48
  .text-vcenter
    .inside
      %h1
        PRÁCE S TRAUMATEM U DĚTÍ
        %br
        S MAGGIE KLINE (USA)
        %br
        %span
          SOMATIC EXPERIENCING
          %sup &reg;
          FOR KIDS
          \/ SOMATICKÉ PROŽÍVÁNÍ U DĚTÍ
      %h2
        9.-12.7. 2015
        %br
        Karlova 25, Praha 1
      = link_to 'registrace zde', new_subscriber_path, :class => 'btn btn-lg btn-success'
      %h4
        další info
        %br
        %i.fa.fa-angle-double-down
.container.home
  .row.uvod
    .col-md-4.text-center
      .icon-wrapper
        %i.fa.fa-pencil-square-o
      %h2
        Intro
        %span
          Úvod do metody Somatic Experiencing
          %sup &reg;
      %p
        %strong Somatic Experiencing/Somatické prožívání
        je velmi efektivní přístup umožňující léčení traumatu, který je vyučovaný po celém světě.
      %p
        Jednodenní workshop, na kterém se seznámíte se základními metodami somatického prožívání. Je určen pro všechny zájemce o třídenní workshop  
        %strong Práce s traumatem u dětí,
        kteří nemají žádný výcvik v této metodě.
      = link_to 'více informací viz program', program_path, :class => 'btn btn-primary'
    .col-md-4.text-center
      .icon-wrapper
        %i.fa.fa-users
      %h2
        Workshop
        %span
          Práce s traumatem u dětí 
      %p
        Třídenní workshop, na kterém se odborníci pracující s dětmi mohou naučit jak pomoci dětem, které byly zahlcené stresující nebo traumatizující událostí, znovu navrátit rovnováhu. Maggie Kline bude učit jak lze pomocí metody 
        %strong Somatic Experiencing
        usnadnit uvolnění a dokončení instinktivních obranných reakcí a znovuobnovit rovnováhu autonomního nervového systému a rozvinout tak zdravé vztahování, vyrovnanost a spokojenost dítěte.
      = link_to 'více informací viz program', program_path, :class => 'btn btn-primary'
    .col-md-4.text-center
      .icon-wrapper
        %i.fa.fa-user
      %h2
        Maggie Kline (USA)
        %span
          terapeutka, trenérka, lektorka ...
      %p
        %strong
          Maggie Kline 
        je více než 30 let rodinná, párová a dětská terapeutka, má dlouholeté zkušenosti též jako učitelka, školní psycholožka, je senior trenérkou profesionálního výcviku 
        %strong
          Somatic Experiencing
        a jedním z hlavních členů týmu nadace Foundation of human Enrichment
        =link_to 'www.traumahealing.com', 'http://www.traumahealing.com'
        \. Spolu s Peterem Levinem je autorkou knih 
        %strong Trauma očima dítěte 
        (Maitrea 2012) a 
        %strong Prevence traumatu u dětí 
        (Maitrea, 2014). Při práci s dětmi integruje metodu somatického prožívání s uměním a hrou.
      = link_to 'více informací viz program', program_path, :class => 'btn btn-primary'
