.container.mt-48
  .row
    .col-sm-12.text-center
      %h1 Organizátorky
    .col-sm-4
      %h4 Ing. Zlata Koštejnová
      %p Terapeutka Kraniosakrální biodynamiky a praktikantka metody Somatic Experiencing ® 
      %p
        %strong mobil:
        777 626 514
        %br
        %strong email:
        = mail_to 'workshopmaggiekline@gmail.com', 'workshopmaggiekline@gmail.com'
    .col-sm-4
      %h4  Mgr. Michaela Čápová
      %p Psycholožka, bodypsychoterapeutka, praktikantka metody Somatic Experiencing ®
      %p
        %strong mobil:
        739 019 623
        %br
        %strong email:
        = mail_to 'workshopmaggiekline@gmail.com', 'workshopmaggiekline@gmail.com'
    .col-sm-4
      %h4  Mgr. Tereza Koryntová
      %p Psycholožka, bodypsychoterapeutka, praktikantka metody Somatic Experiencing ®
      %p
        %strong mobil:
        732 743 818 
        %br
        %strong email:
        = mail_to 'workshopmaggiekline@gmail.com', 'workshopmaggiekline@gmail.com'
    .col-sm-12.text-center
      %h2 Fakturační údaje
      %p
        Ing. Dušan Koštejn
        %br/
        Lovosická 773, Praha 9, 190 00
        %br/
        IČ: 47566230
        %br/
        č.účtu: 2500029896/2010
