.container.mt-48
  .row
    .col-md-12
      %h1 Kontakt
    .col-md-6
      %h2 Informace k workshopu, registraci
      %dl.dl-horizontal
        %dt
        %dd 
          %strong Ing. Zlata Koštejnová
        %dt mobil: 
        %dd 777 626 514
        %dt email:
        %dd 
          = mail_to 'workshopmaggiekline@gmail.com', 'workshopmaggiekline@gmail.com'
    .col-md-6
      %h2 Fakturační údaje
