.container.podminky
  .row
    .col-md-9
      %h1 Podmínky
      %ol
        %li
          %p
            %strong Registrace
          %p
            Pro účast na workshopu nebo jeho jednotlivých částech je nutné se zaregistrovat. Registraci provedete online na adrese registrace. Registraci je nutné provést do 30.4.2015
        %li
          %p
            %strong Cena a záloha
          %p Cena za jednodenní "Intro" činí 2 500 Kč. Registraci a zaplacení zálohy 1 000 Kč je třeba provést nejpozději do 30.4.2015.
          %p Cena za třídenní workshop "Práce s traumatem u dětí" činí 8 500 Kč. Registraci a zaplacení zálohy 3 000 Kč je třeba provést nejpozději do 30.4.2015.
          %p Cena za celou akci (Intro+workshop) činí 10 500Kč. Registraci a zaplacení zálohy 4 000 Kč je třeba provést nejpozději do 30.4.2015.
          %p Zálohy jsou po 30.4.2015 nevratné, a to i při zrušení účasti.
          %table.table-striped.table-bordered.table
            %tr
              %th
              %th Intro
              %th Workshop
              %th Intro + workshop
              
            %tr
              %td celková cena
              %td 2 500 Kč
              %td 8 500 Kč
              %td 10 500 Kč

            %tr
              %td záloha do 30.4.
              %td 1 000 Kč
              %td 3 000 Kč
              %td 4 000 Kč

            %tr
              %td doplatek do 15.6.
              %td 1 500 Kč
              %td 5 500 Kč
              %td 6 500 Kč
        %li
          %p
            %strong Platba zálohy a doplatek
          %p Příslušnou zálohu zašlete na účet č.: 2500029896/2010 nejpozději do 30.4.2015.
          %p Doplatek kurzovného zašlete na účet č.: 2500029896/2010 nejpozději do 15.6. 2015.
          %p Jako variabilní symbol obou plateb uveďte své telefoní číslo.
        %li
          %p
            %strong Absolvování Intra
          %p Pro účast na workshopu je povinné absolvování Intra nebo jiná předchozí zkušenost s metodou SE (Intro nebo výcvik).
        %li
          %p
            %strong Zrušení workshopu
          %p Při nedostatečném počtu účastníků si organizátoři vyhrazují právo na zrušení workshopu. Rozhodné datum je stanoveno na 10.5.2015. Pokud by došlo ke zrušení workshopu ze strany organizátorů, vybrané zálohy budou účastníkům vráceny.
