%table{:border => "1", :cellpadding => "5", :cellspacing => "0"}
  %tr
    %th
    %th celková cena do 30.4.
    %th záloha do 30.4.
    %th doplatek do 15.6.

  %tr
    %td Intro
    %td 2 500 Kč
    %td 1 000 Kč
    %td 1 500 Kč