%table{:border => "1", :cellpadding => "5", :cellspacing => "0"}
  %tr
    %th
    %th celková cena do 30.4.
    %th záloha do 30.4.
    %th doplatek do 15.6.

  %tr
    %td Workshop
    %td 8 900 Kč
    %td 3 000 Kč
    %td 5 900 Kč
